* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.form__auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 380px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 16px #ccc;
}

.form__title {
    margin-bottom: 35px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: normal;
}

.form__group {
    margin-bottom: 30px;
}

.form__label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #555555;
}

.form__input {
    width: 100%;
    height: 40px;
    position: relative;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    transition: .3s linear;
}

#login {
    background: url("../img/login.png") 4px no-repeat;
}

#pass {
    background: url("../img/pass.png") 4px no-repeat;
}


#login:focus,
#pass:focus,
#login:not(:placeholder-shown),
#pass:not(:placeholder-shown) {
    background: none;
}

.form__input:focus {
    box-shadow: 0px 0px 12px #24388671;
}

.pass__reset:hover {
    text-decoration: underline;
}

.form__btn {
    padding: 14px 80px;
    border: none;
    background: #243786;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    cursor: pointer;
}

.form__btn:focus,
.form__btn:hover {
    background: rgba(36, 56, 134, 0.85);
    outline: none;
}